*{
  box-sizing: border-box;
}

:root{
  --soft-green: rgba(194, 201, 189, 0.52);
  --text-green: rgba(43, 79, 14, 1);
  --less-soft-green: rgba(43, 79, 14, 0.31);
}

.background{
  background-color: rgba(194, 201, 189, 0.52);
  overflow: hidden;
}

.nav-bar{
  /*background-color: blue;*/
}

.nav-bar h1{
  text-align: left;
  font-size: 4vh;
  padding-top: 0.5%;
  padding-left: 0.5%;
}

.nav-bar svg{
  position: absolute;
  right: 2.5%;
  top: 2.5%;
}

.tribes{
  color: var(--text-green);
  font-size: 8vh;
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
  margin: 0;
}

.tribes-name-text{
  color: var(--text-green);
  font-family: 'Rubik Mono One', sans-serif; 
  font-size: 1.5vh;
}

.tribes-of-nigeria{
  text-align: center;
  margin: 0;
  margin-top: -15px;
  animation-name: fade-in;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-delay: 0;
}

.enter-button{
  background-color: var(--text-green);
  border-radius: 5px;
  margin-top: 0.5%;
  width: 5%;
  height: 5%;
  border: none;
  padding: 0.5%;
}

.enter-button:hover{
  background-color: var(--less-soft-green);
}

.enter-button a{
  color: var(--soft-green);
  font-size: 1.5vh;
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
  text-decoration: none;
}

.enter-button a:hover{
  color: var(--text-green);
}

.homepage-div{
  text-align: center;
  margin-top: 20%;
  margin-bottom: 20%;
}

.tribes-section-one{
  text-align: center;
  height: 100px;
  margin-top: 1.8%;
  /*margin-top: 20%;
  margin-bottom: 20%;*/
}

.tribes-section-one ul{
  list-style-type: none;
  margin: 0;
  margin-left: 3%;
  padding: 0;
  text-align: center;
  width: 100%;
}

.tribes-section-one ul li a{
  text-decoration: none;
  margin-left: 0;
  margin: 0.25%;
  color: inherit;
  transition: 2s color;
}

.tribes-text{
  color: var(--text-green);
  font-family: 'Rubik Mono One', sans-serif; 
  font-size: 2.5vh;
}

.tribes-section-one ul li:hover{
  color: var(--less-soft-green);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  },
  100% {
    opacity: 1;
  }
}

/* ------------------ Mobile Design ----------------  */

@media only screen and (max-width: 600px) {
  .homepage-div{
    margin-top: 80%;
    /*margin-bottom: 40%;*/
  }
  
  .tribes-section-one{
    text-align: center;
    height: 100px;
    margin-top: 10%;
  }

  .enter-button{
    margin-top: 2.5%;
    width: 20%;
    height: 35px;
  }

  .enter-button a{
    color: var(--soft-green);
    font-size: 1vh;
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 0.5%;
  }
  
}






